.simg {
    max-width: 100%;
    height: 555px;
}

.paint-card {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    margin-top: 12px;
}

.sec-2 .col-md-4 .card-body img {
    height: 360px;
}

.sec-3 .card-body img {
    height: 370px;
    width: 100%;
    object-fit: cover;
}

.card-footer {
    height: 52px;
    text-align: center;
}

/* Admin Page */
.dropdown-menu[data-bs-popper] {
    left: -50%;
}

/* list section */
.list-1 {
    background: #094cb0;
    height: 360px;
}

.part-1 {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    padding-top: 2rem;
}

.list-1 ul {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.list-1 ul h5 {
    font-size: 1rem;
    margin: 5px 0;
}

.list-1 ul a {
    text-decoration: none;
    color: #dddddd;
    margin: 3px 0;
    font-size: 0.9rem;
}

.list-1 ul a:hover {
    text-decoration: underline;
}

.list-1 hr {
    border: 0;
    height: 0.4px;
    background: #ffffff;
    margin-top: 20px;
}

.part-2, .card-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.part-2 .logo {
    color: #fff;
    font-size: 32px;
    font-weight: bold;
}

@media only screen and (max-width: 840px) {
    .simg {
        height: 300px;
    }

    .sec-2 .col-md-8 {
        width: 100%;
    }

    .sec-2 .col-md-4 .card-body {
        display: none;
    }

    .sec-3 .col {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .sec-3 .card {
        width: 340px;
    }
    
    /* Admin Page */
    .dropdown-menu[data-bs-popper] {
        left: 0%;
    }
}

@media only screen and (max-width: 440px) {
    .simg {
        height: 300px;
    }

    .sec-2 .col {
        width: 100%;
    }

    .sec-3 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .sec-3 .col {
        max-width: 100%;
    }

    .sec-3 .card {
        width: 328px;
    }

    .sec-3 .card-body img {
        height: 400px;
    }

    .list-1 {
        height: 465px;
    }

    .signup {
        font-size: 15px;
    }
}
